body{
  background-color: #e9eaf7;
}
h1{
  font-size: 3.5rem;
}
.form-title{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}
.card{
  width: 200px;
  border-radius: 5%;
  border-radius: 25px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),
              0 2px 2px rgba(0,0,0,0.15),
              0 4px 4px rgba(0,0,0,0.15),
              0 8px 8px rgba(0,0,0,0.15);
  background-color:  #fff;
}

.card-title{
  margin-top: 20px;
}
.card-body{
  text-align: center;
}
.pulse{
  margin-left: 330px;
}
.O2{
  margin-left: 30px;
}
.temp{
  margin-left: 30px;
}
.pressure{
  margin-left: 30px;
}
/* submit bar */
#fname{
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  margin-bottom: 30px;
  width:120px;
}
/* .price-sec{
  padding-left:50px;
  padding-right: 50px;
} */
/* .temp{
  padding-left: 12px;
} */
.datetime{
  border:0px;
  border-radius: 5px;
  margin-left: 620px;
  text-align: center;
  margin-bottom: 65px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.06),
              0 2px 2px rgba(0,0,0,0.06),
              0 4px 4px rgba(0,0,0,0.06),
              0 8px 8px rgba(0,0,0,0.06);
}
/* .Other-Symptoms{
  margin-left: 320px;
} */
.time{
  border:0px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 65px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.06),
              0 2px 2px rgba(0,0,0,0.06),
              0 4px 4px rgba(0,0,0,0.06),
              0 8px 8px rgba(0,0,0,0.06);
}
.submit{
  margin-left: 710px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}
.content{
  margin-left: 960px;
}
