

<%- include("partials/header"); -%>


    <h2 class="compose">Add Your Meds</h2>
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label class="med-name">Medicine Name:</label><input class="box form-control" type="text" name="medicineName">
        <label class="med-name">Time:</label>
        <br />
        <input class="box2" id="appt-time" type="time" name="time">
      </div>
      <button class="compose-submit btn btn-dark" type="submit" name="button">Add</button>
    </form>

